
<!DOCTYPE html>
<html lang="ko"
 xmlns:th=http://www.thymeleaf.org
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>게시판</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>	
<div align="center" class="container-fluid">
    <h1 class="h3 mb-2 text-center">게시판</h1>
    <div class="card shadow mb-4" style=" height: auto; width: 1000px; ">	
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">등록된 글</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:10%;">글번호</th>
                            <th style="width:45%;">제목</th>
                            <th style="width:20%;">작성일자</th>
                            <th style="width:15%;">작성자</th>
                            <th style="width:10%;">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr th:if="${not #lists.isEmpty(list)}" th:each="vo : ${list}">
                         	<td th:text="${vo.bno}" />
                         	<td><a th:href="@{detail(no=${vo.bno})}" th:text="${vo.btitle}"></a></td>
                         	<td th:text="${#calendars.format(vo.bdate, 'yy-MM-dd HH:mm')}" />
                         	<td th:text="${vo.mid}" />
                         	<td th:text="${vo.bhitcount}" />
                         </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="width:100px;">
    	<button class="w-100 btn btn-lg btn-primary"  onClick="location.href='/board/insert'">글쓰기</button>
    </div>
</div>
</body>
</html>