
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>	
<div align="center" class="container-fluid">
    <h1 class="h3 mb-2 text-center">게시판</h1>
    <div class="card shadow mb-4" style=" height: auto; width: 1000px; ">	
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">등록된 글</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:10%;">글번호</th>
                            <th style="width:45%;">제목</th>
                            <th style="width:20%;">작성일자</th>
                            <th style="width:15%;">작성자</th>
                            <th style="width:10%;">조회수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>100</td>
                            <td>너희 그거 앎?</td>
                            <td>2022-05-14 02:02:02</td>
                            <td>user04</td>
                            <td>13353</td>
                        </tr>
                        <tr>
                            <td>101</td>
                            <td>내 제목 겁나 김 ㅋㄹㄴㅇㄹㄴㅇㄹㄴㅇㄹㄴㅇㄹㄴㅇㄹㄴㅇㄹㅋㄹㅃㅃ</td>
                            <td>2022-05-14 02:03:02</td>
                            <td>user05</td>
                            <td>133522</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>