<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"  th:href="@{/css/signin.css}" />
<script src="js/bootstrap.bundle.min.js"></script>

</head>	
<script>
function moveOAuth(){
	location.href = "/oauth2/authorization/google";
}
</script>
<body class="text-center">
   <main class="form-signin">
      <form action="/login" method="post">
         <h1 class="h3 mb-3 fw-normal">로그인 페이지</h1>
         
         <div class="form-floating">
            <input type="text" class="form-control" id="username" name= "username" placeholder="아이디 입력...">
            <label for="id">아이디</label>
         </div>
         <div class="form-floating">
            <input type="password" class="form-control" id="password" name = "password" placeholder="Password">
            <label for="pwd">비밀번호</label>
         </div>
         <div></div>
         <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
         
         <div style="padding:20px;"> </div> <!-- 여백 주기 -->
         <a class="w-100 btn btn-lg btn-secondary" href="/oauth2/authorization/google">구글 로그인</a>         
         <div style="padding:5px;"> </div> <!-- 여백 주기 -->
         <a class="w-100 btn btn-lg btn-success" href="/member/signup">회원가입</a>   
         
         
         <p class="mt-5 mb-3 text-muted">&copy; board.hyundai.com</p>
      </form>
   </main>
</body>
</html>