<!DOCTYPE html>
<html lang="ko" xmlns:th=http://www.thymeleaf.org
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>게시글 수정</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
<div th:replace="~{includes/header :: header}"></div>
	<div align="center" class="container-fluid">
		<h1 class="h3 mb-2 text-center">게시판</h1>
		<div class="card shadow mb-4" style=" height: auto; width: 1000px; ">
		    <div class="card-header py-3">
            	<h6 class="m-0 font-weight-bold text-primary">게시글 수정</h6>
        	</div>
        	<div class="card-body">
		            <div class="table-responsive">
		            <form action="update" method="POST">
		            	<input type="hidden" name="bno" th:value="${board.bno}"/>
		            	<input type="hidden" name="mid" th:value="${board.mid}"/>
		            	<input type="hidden" name="iid" th:value="${board.iid}"/>
						<table class="table table-bordered" >
							<tr>
								<td style="width:50pt;">제목</td>
								<td><input type="text" name="btitle" th:value="${board.btitle}" autofocus="autofocus" required="required" style="width:600px; font-size:15px;" /></td>						
							</tr>
							<tr>
								<td>내용</td>
								<td><textarea name="bcontent"  autofocus="autofocus" required="required" style="width:600px;height:550px;font-size:15px;">[[${board.bcontent}]]</textarea></td>
							</tr>
						</table>
						<button class = "btn btn-lg btn-danger" onCLick="location.href='/board/list'">작성 취소</button>
						<button type="submit" class = "btn btn-lg btn-primary">수정하기</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<br />

</body>
</html>
