<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.board.mapper.BoardMapper">
 
	<insert id="insertBoard" parameterType="com.hyundai.board.domain.BoardVO">
		INSERT INTO BOARD (BNO, BTITLE, BCONTENT, BDATE, MID, BHITCOUNT, IID)
                   VALUES (SEQ_BOARD.NEXTVAL, #{btitle}, #{bcontent}, SYSDATE, #{mid}, 0, #{iid, jdbcType=VARCHAR})
	</insert>
	
	<select id="selectAllBoard" resultType="com.hyundai.board.domain.BoardVO">
		SELECT BNO, BTITLE, BCONTENT, BDATE, MID, BHITCOUNT, IID
		  FROM BOARD
		 ORDER BY BDATE DESC
	</select>
	
	<update id="updateBoard" parameterType="com.hyundai.board.domain.BoardVO">
		UPDATE BOARD
		   SET BTITLE = #{btitle},
		       BCONTENT = #{bcontent},
		       IID = #{iid}
		 WHERE BNO = #{bno}
		   AND MID = #{mid}
	</update>
	
 	<delete id="deleteBoard" parameterType="com.hyundai.board.domain.BoardVO">
 		DELETE BOARD
		 WHERE BNO = #{bno}
		   AND MID = #{mid}
 	</delete>
 	
 	<select id="selectBoard" resultType="com.hyundai.board.domain.BoardVO">
 		SELECT BNO, BTITLE, BCONTENT, BDATE, MID, BHITCOUNT, IID
		  FROM BOARD
		 WHERE BNO = #{bno}
 	</select>
 	
 	<!--  고석준 추가  -->
 	<select id="selectMemberBoard" resultType="com.hyundai.board.domain.BoardVO">
 		SELECT BNO, BTITLE, BCONTENT, BDATE, MID, BHITCOUNT, IID
		  FROM BOARD
		 WHERE MID = #{mid}
		 ORDER BY BDATE DESC
 	</select>
 	
 	<!-- 황명하 실습 -->	
 	<select id= "getBoard" resultType="com.hyundai.board.domain.BoardVO">
 		 <![CDATA[
 		 SELECT BNO, BTITLE, BCONTENT, BDATE, MID, BHITCOUNT, IID
		 FROM (
		 	SELECT ROWNUM R, BNO, BTITLE, BCONTENT, BDATE, MID, BHITCOUNT, IID
		 	FROM (
		 		SELECT * FROM BOARD ORDER BY BDATE DESC, BNO DESC
		 	)
		 	WHERE ROWNUM <= #{pageNum} * #{amount}
		 )
		 WHERE R> (#{pageNum}-1) * #{amount}
		 ]]>
 	</select>
 	
 	
 	<select id= "getMemberBoard" resultType="com.hyundai.board.domain.BoardVO">
 		 <![CDATA[
 		 SELECT BNO, BTITLE, BCONTENT, BDATE, MID, BHITCOUNT, IID
		 FROM (
		 	SELECT ROWNUM R, BNO, BTITLE, BCONTENT, BDATE, MID, BHITCOUNT, IID
		 	FROM (
		 		SELECT * FROM BOARD WHERE MID = #{mid} ORDER BY BDATE DESC, BNO DESC
		 	)
		 	WHERE ROWNUM <= #{cri.pageNum} * #{cri.amount}
		 )
		 WHERE R> (#{cri.pageNum}-1) * #{cri.amount}
		 ]]>
 	</select>
 	
 	
 	
 	<select id="getTotal" resultType="int">
 		SELECT COUNT(*)
		  FROM BOARD
 	</select>
 	
 	<select id="getMemberTotal" resultType="int">
 		SELECT COUNT(*)
		  FROM BOARD
		  WHERE MID = #{mid}
 	</select> 	
 	
 	
</mapper>
 
 



